body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(244, 194, 194);
}

.header_text {
    font-family: "Comic Sans MS", "Comic Sans", cursive; 
    font-size: 50px;
    font-weight: bold;
    color: rgb(216, 80, 77);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
